.introduction-container {
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4rem;
  border: 1px solid white;

  @media screen and (max-width: 767px) {
    & {
      flex-direction: column;
      padding: 0;
      height: 70vh;
    }
  }

  .image-wrapper {
    // border: 1px solid white;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      & {
        order: -1;
        width: 100%;
      }
    }
    & > img {
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      width: 10cqmax;
      transition: 0.5s ease-out 100ms;
      margin-right: -3cqmax;
      filter: grayscale(1);
      @media screen and (max-width: 767px) {
        & {
          width: 15cqmax;
          margin-right: -4cqmax;
        }
      }
      &:nth-of-type(2) {
        width: 15cqmax;
        @media screen and (max-width: 767px) {
          & {
            width: 20cqmax;
          }
        }
      }
      &:nth-last-of-type(1) {
        margin-right: 0;
      }
      &:hover {
        transform: scale(1.1);
        filter: grayscale(0);
        -webkit-box-shadow: 11.5px 32px 18px 15.5px #dddddd;
        -moz-box-shadow: 11.5px 32px 18px 15.5px #dddddd;
        box-shadow: 11.5px 32px 18px 15.5px #dddddd;
        position: relative;
        z-index: 1;
      }
    }
  }
  .introduction-details {
    color: white;
    border: 1px solid white;
    width: 40%;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    @media screen and (max-width: 767px) {
      & {
        width: 100%;
        text-align: left;
      }
    }
    & > h1 {
      text-transform: uppercase;
    }
    & > h4 {
      font-weight: 400;
      margin: 1rem 0;
    }
    & > p {
      font-family: "Advent Pro", sans-serif;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
